@-moz-document * {
	outline: none;
}

.footer-fix {
	width: 24px;
	height: 24px;
}

html {
  height: 100%;
  background: url("../assets/textures/black_scales.webp");
  background-size: auto;
  background-repeat: repeat; 
}

body {}

.logo {
  width: 10em;
  height: auto;
  margin-left: auto;
}

.cell.logo {
  display: flex;
  align-items: center;
}

#transparent_title {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.01em #fff;
}

.red {color: #ff0000 solid 0.1em}
.orange {color: #ffa500 solid 0.1em}
.yellow {color: #ff0 solid 0.1em}
.green {color: #008000 solid 0.1em}
.blue {color: #0000ff solid 0.1em}
.purple {color: #800080 solid 0.1em}
.violet {color: #ff00ff solid 0.1em}

.border-red {border: #ff0000 solid 0.05em}
.border-orange {border: #ffa500 solid 0.05em}
.border-yellow {border: #ff0 solid 0.05em}
.border-green {border: #008000 solid 0.05em}
.border-blue {border: #0000ff solid 0.05em}
.border-purple {border: #800080 solid 0.05em}
.border-violet {border: #ff00ff solid 0.05em}
 
.background-red {background-color: #ff0000; color: black}
.background-orange {background-color: #ffa500; color: black}
.background-yellow {background-color: #ff0; color: black}
.background-green {background-color: #008000; color: black}
.background-blue {background-color: #0000ff; color: black}
.background-purple {background-color: #800080; color: black}
.background-violet {background-color: #ff00ff; color: black}
.background-white {background-color: #fff;}
.background-black {background-color: #000;}

@keyframes gradient-animation {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#gradientText {
  color: transparent;
  background: linear-gradient(to top left, 
    #ffa500,  /* Orange */
    #ffff00 12.5%,  /* Yellow */
    #008000 25%,  /* Green */
    #00ffff 37.5%,  /* Cyan */
    #0000ff 50%,  /* Blue */
    #800080 62.5%,  /* Purple */
    #ff00ff 75%,  /* Magenta */
    #ff0000 87.5%,  /* Red */
    #ffa500 100%   /* Orange */
  );
  background-size: 500% 500%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: moveGradient 20s linear infinite;
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

@keyframes gradient-animation1 {
  0% { stop-color: #ff0000; }
  12.5% { stop-color: #ffa500; }
  25% { stop-color: #ffff00; }
  37.5% { stop-color: #008000; }
  50% { stop-color: #00ffff; }
  62.5% { stop-color: #0000ff; }
  75% { stop-color: #800080; }
  87.5% { stop-color: #ff00ff; }
  100% { stop-color: #ff0000; }
}

@keyframes gradient-animation2 {
  0% { stop-color: #ffa500; }
  12.5% { stop-color: #ffff00; }
  25% { stop-color: #008000; }
  37.5% { stop-color: #00ffff; }
  50% { stop-color: #0000ff; }
  62.5% { stop-color: #800080; }
  75% { stop-color: #ff00ff; }
  87.5% { stop-color: #ff0000; }
  100% { stop-color: #ffa500; }
}

#gradient1 stop:first-child {
  animation: gradient-animation1 20s infinite;
}

#gradient1 stop:last-child {
  animation: gradient-animation2 20s infinite;
}

.is-primary {
  background-color: rgba(19, 227, 97, 0.7);
}

.is-secondary {
  background-color: rgba(1, 141, 255, 0.7);
}

header {
  border-radius: 0 0 1em 1em;
  border-width: 0 0.1em 0.1em 0.1em;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.9);
}
  
nav {
    padding: 0.5em;
    border-radius: 1em;
}

.is-colorful {
  background: linear-gradient(to bottom right, rgba(19, 227, 97, 0.7), rgba(96,20,136,0.7));
  background-size: cover;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: screen;
}

.is-colorful-border {
  border-radius: 1em;
  border-image: linear-gradient(to bottom right, rgba(19, 227, 97, 0.7), rgba(96,20,136,0.7)) 30;
  border-style: solid;
}

.is-transparent {
  background-color: rgba(100, 100, 100, 0.1);
}

.is-rounded {border-radius: 1em;}

.is-rounded-right {border-radius: 0 1em 1em 0;}

.is-rounded-left {border-radius: 1em 0 0 1em;}

.border {
  border: 0.1em solid rgba(50, 50, 50, 0.9);
}

footer {
  border-radius: 1em;
  border-width: 0.1em;
  border-style: solid;
  border-color: rgba(50, 50, 50, 0.9);
  padding: 0 !important;
}
